#addnew{
	width: 700px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 200px;
}

#addnew>select{
	width: 200px;
	height:  20px;
}
#addnew:last-child{
	width:  200px;
}