.items{
	width: 100%;
	height:  auto;
	background-color:  #f1f1f1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap:  20px;
	row-gap: 20px;
}

.item{
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-around;

}

img{
	width:  200px;
}

.buyBtn{
	width: 60%;
	height: 40px;
	margin: 10px 0;
}

#select{
	width:  100%;
	height:  100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

#select input{
	height:  30px;
	width:  120px;
}

.delete{
	position: relative;
	top: 0;
	left: calc(50px - 50%);
	width: 50px;
	height: 50px;
}

.update{
	position:  relative;
	top: -50px;
	left:  40%;
	width:  50px;
	height:  50px;
}

#updateForm{
	display: flex;
	position: absolute;
	top: 0;
	left:  0;
	right:  0;
	bottom:  0;
	margin:  auto;
	z-index: 1;
	width:  300px;
	height:  300px;
	background-color: black;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}