DirectoryIndex public/index.php

Options -Indexes

RewriteEngine On
RewriteBase /BlipsandChitz
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index\.php [QSA,L]