#back{
	background-image: url("../img/Hero.webp");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.items{
	padding: 10px;
	margin: 0 auto;
	margin-top: 100px;
	width: 1200px;
	overflow: hidden;
	background-color:  transparent;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	/*isplay: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap:  20px;
	row-gap: 20px;
	*/
}

.item{
	width: 300px;
	background-color: rgba(0,0,0,0.7);
	margin: 20px 10px;
	color:  white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	border-radius: 10px;

}

.item img{
	width:  200px;
	box-shadow: 0 0 4px 2px white;
}

.buyBtn{
	margin: 10px 0;
	color: white;
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 140px;
	border: 2px solid #F2644B;
	background: transparent;
}

#hero{
	display: flex;
	flex-direction: row;
	margin-top: 200px;
}

#select{
	opacity: 0;
	height:  100%;
	width:  200px;
	position: fixed;
	left: 0;
	top: 0;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 75%,rgba(0,0,0,0.6) 85%, 
	rgba(0,0,0,0) 100% );
	display: flex;
	justify-content: center;
	align-items: center;
}

#select form{
	
	color: white;
	margin: 10px;
	background-color: rgba(0,0,0,0);
	text-align: left;
	display: flex;
	flex-direction: column;
	left: 10px;

}

#select form div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem 0;
}



#select label{
	font-size:  14px;
}

input[type=checkbox]{
	color: transparent;
	height:  20px;
	width:  20px;
}

input{
	cursor: pointer;
}

button{
	cursor: pointer;
}

#filter-submit{
	height:  30px !important;
	width:  120px !important;
	background-color: transparent;
	color: white;
	border: 1px solid white;
}

.delete{
	display: none;
	margin: 10px 0;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	width: 150px;
	height: 50px;
}

.update{
	display: none;
	margin:  10px 0;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	width:  150px;
	height:  50px;
}

#updateForm{
	display: flex;
	position: absolute;
	top: 0;
	left:  0;
	right:  0;
	bottom:  0;
	margin:  auto;
	z-index: 1;
	width:  300px;
	height:  300px;
	background-color: black;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#productID{
	display: none;
}

#filter-btn{
	background: transparent;
	background-image: url("../img/filter.png");
	background-size: cover;
	height: 30px;
	width: 30px;
	position: fixed;
	top: 20px;
	left: 20px;
	border: none;
	margin: 0;
	padding: 0;
	z-index: 10;
}
