<div class="bc">
    <h1>Contact Us</h1>
    <form method="post" id="contact" action="contact" enctype="multipart/form-data" >
        <div id="fields">
            <div>
                <input type="text" name="name" id="contact-name" placeholder="Name">
            </div>
            <div>
                <input type="text" name="email" id="contact-email"
                       placeholder="Email">
            </div>
            <input type="submit" name="submitbutton" value="Send">
        </div>
        <div id="text-area">
            <textarea name="text" required cols='50' rows="10" id="contact-text" placeholder="Message"></textarea>
        </div>
    </form>
</div>
<script type="text/javascript" src="../public/js/contact.js"></script>